  /**
   *  AIA Readability Test
   *  IE8 and under
   */

  /**
   *  Base
   */

  body {
    min-height: 100%;
  }

  /**
   *  Scaffolding
   */

  .container {
    min-width: 57.5em;
    padding: 0;
    margin: 4em auto;
  }

  .main {
    max-width: 30em;
    margin-left: 2em;
    float: left;
  }

  .sidebar {
    max-width: 20em;
    float: right;
  }

  /**
   *  Header
   */

  .header {
    height: 7.75em;
    border-bottom: 3px solid #d6547c;
  }

  .header__logo {
    top: .625em;
    left: 2em;
    width: 70px;
    height: 102px;
    background: url('../img/logo-large.png') no-repeat;
  }

  .header h1 {
    top: 1.5em;
    left: -7em;
    width: 340px;
    height: 52px;
    background: url('../img/wordmark-large.png') no-repeat;
  }

  .header__navtoggle {
    display: none;
  }

  .header__nav {
    position: absolute;
    top: 4.875em;
    right: .5em;
  }

  .header__nav ul {
    list-style: none;
  }

  .header__nav li {
    display: inline-block;
    margin: 0 0 0 .25em;
  }

  .header__nav li a {
    display: inline-block;
    width: auto;
    height: 2.5em;
    padding: 0 .75em;
    background: #ab0f39;
    color: #fff;
    font-weight: bold;
    font-size: .75em;
    line-height: 2.875em;
    text-decoration: none;
    text-transform: uppercase;
  }

  .header__navitem--howitworks:before {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 6px 6px -4px 0;
    background: url('../img/icon/help-white.png') no-repeat;
    content: '';
  }

  .header__navitem--thesaurus:before {
    display: inline-block;
    width: 19px;
    height: 16px;
    margin: 6px 6px -4px 0;
    background: url('../img/icon/book-white.png') no-repeat;
    content: '';
  } 
  
  /**
   *  Tester
   */

  .tester__textarea {
    height: 22.5em;
  }

  .tester__legend {
    margin-top: 5.375em;
    text-align: left;
  }

  .tester__submit {
    float: right;
    margin: .375em .125em 0 1.25em;
  }

  /**
   *  Score
   */

  .score__result--large {
    width: 7em;
    height: 6.75em;
    margin: 0 0 0 .875em;
    border-radius: .5em;
    font-weight: normal;
    font-size: .875em;
  }

  .score__result--large.score__result--first {
    margin: 0;
  }

  .score--help .score__legend li {
    line-height: 6.5em;
  }

  /**
   *  Lightbox
   */

  .lightbox {
    top: 8.75em;
    left: 2em;
    width: 920px;
    height: 100%;
    min-height: auto;
  }

  .lightbox__wrap {
    padding: 2em 10em 0 15.25em;
  }

  .lightbox__close {
    top: 1.25em;
    right: 1.25em;
  }

  /**
   *  Help
   */

  .help h2 {
    margin: 0;
  }

  .help__makeiteasy {
    position: absolute;
    top: 1.5em;
    left: 2em;
  }

  /**
   *  Footer
   */

  .footer {
    padding: 3em 0 1em 2em;
  }